.container{
    
    &__card{
        border-radius: 1rem;
        background-color: $white;
        max-width: 24rem;
        width: 100%;
        margin: auto;
        text-align: center;
        position: fixed;
        align-self: auto;
    }
    &__text{
        margin: auto;
        max-width: 18rem;
        color: $veryDarkBlue;
        h1{
            font-weight: 800;
        }
        h2{
            font-weight: 700;
        }
        h3{
            font-weight: 500;
        }
        p{
            font-weight: 400;
        }
    }
}

.hidden{
    display: none;
}

// Mobile specific adjustments
@media screen and (max-width: 640px) and (min-width: 240px) {
    .container{
        %__card{
            max-width: 21rem;
        }
    }
}