// Colors

// Background color
$veryDarkPurple: rgba(16,17,22,1);

// Container colors
$darkTeal: rgba(63,85,118,1);
$darkPurple: rgba(47,49,72,1);

//Text colors
$white: rgba(255,255,255,1);
$lightGreyPurple: rgba(134, 137, 172, 1);
$lightGreyBlue: rgba(88, 112, 153, 1);